services:
  redis:
    image: redis:8-alpine
    container_name: redis
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 2s
      timeout: 2s
      retries: 2
  
  postgres:
    image: postgres:17-alpine
    container_name: savoria-db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5400:5432"
    volumes:
      - postgres_savoria:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 3s
      timeout: 3s
      retries: 3

  api:
    build: .
    command: sh -c "alembic upgrade head && python src/main.py"
    ports:
      - "8000:8000"
    volumes:
      - ./uploads/avatars:/app/uploads/avatars
      - ./uploads/task_images:/app/uploads/task_images
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
      

volumes:
  postgres_savoria: